{% extends 'encyclopedia/layout.html' %}

{% block title %}

Edit Page

{% endblock %}

{% block body %}

<h1>Edit Page >> {{ title }}</h1>

<div>
    <form action="{% url 'encyclopedia:save' %}" method="post">
        {% csrf_token %}
        <!-- {{ form }} -->
        <label for="page_title">Title</label>
        <input type="text" value="{{ page_title }}" name="page_title" >
        <br>
        <label for="content">Markdown Content:</label>
        <br>
        <textarea name="content">{{ content }}</textarea>
        <br>
        <input type="submit" value="new_page", class="btn btn-primary">
    </form>
</div>

{% endblock %}